<?xml version="1.0" encoding="UTF-8"?>
<web-app id="richfaces-showcase" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <listener>
        <listener-class>org.gatein.pc.arquillian.bootstrap.PortalContainerInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>PortalServlet</servlet-name>
        <servlet-class>org.gatein.pc.test.PortalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PortalServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>